<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/user/register" method="post">
        <label for="firstName">firstName</label>
        <input type="text" name="firstName" id="firstName">
        <br>
        <label for="lastName">lastName</label>
        <input type="text" name="lastName" id="lastName">
        <br>
        <label for="username">username</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <br>
        <label for="gender">gender</label>
        <input type="text" name="gender" id="gender">
        <br>
        <label for="mobile">mobile</label>
        <input type="text" name="mobile" id="mobile">
        <br>
        <label for="role">role</label>
        <input type="text" name="role" id="role">
        <br>
        <input type="submit" value="Register">
    </form>

</body>
</html>